body{
margin: 0;
padding: 0;
}
.bg{
    position:relative;
    background: url(background.jpg);
    background-size: cover;
    height: 100vh;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 0.5s linear infinite;
}
.car{
    position:absolute;
    bottom:0;
    height: 25%; 
}
@keyframes animate{
    from{
        background-position: 0 0;
    } 
    to{
        background-position: 100% 0 ;
    }
}
